<h2><%= @song.title %> <a href="/songs/<%= @song.id %>/edit">(edit)</a></h2>
<h3>By: <%= @song.artist.name %></h3>

Album: <%= @song.album %></br>

<audio controls src="<%= @song.preview_url %>"></audio>
